<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIWomen Agent</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <h1>AIWomen Agent</h1>
    <p id="message">This is a simple webpage.</p>
    <script src="/public/js/script.js"></script>
    
    <div class="container">
        <button id="colette">Colette</button>
        <button id="gloria">Gloria</button>
        <button id="annika">Annika</button>
        <br>
        <div id="womenmessage"></div>
       <div id="womenimage"></div>
    </div>
</body>
</html>
